.header-greeting {
  font-size: 1rem;
}

.header-title {
  font-size: 1.5rem;
  line-height: 20px;
  font-family: "Emblema One", cursive;
}

.header-button button {
  padding: 0.6rem;
  font: 400 1rem "open Sans", sans-serif;
  text-transform: uppercase;
  background-color: var(--main-txt-color);
  border: none;
  border-radius: 25px;
}

.header-button button a {
  color: var(--main-bg-color);
}
