@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

:root {
  --main-bg-color: #313537;
  --main-txt-color: rgb(200, 195, 188);
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 90vw;
}
.section {
  margin: 30vh auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#work {
  gap: 2rem;
}

.project .project-stack {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
}

.stack-item {
  background-color: aliceblue;
  color: var(--main-bg-color);
  padding: 0.5rem;
}

.project .project-image-link {
  display: block;
  margin-left: 3rem;
  width: 45%;
}

.project img {
  max-width: 100%;
}

.stack-item,
.header-button button,
.project img{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}
