:root {
  --main-bg-color: #131516;
  --main-txt-color: rgb(200, 195, 188);
}
body {
  background-color: var(--main-bg-color);
}
.nav-container{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
  padding: 2rem 4.5rem;
}


a {
  text-decoration: none;
  color: var(--main-txt-color);
}

.nav-items {
  display: flex;
  gap: 8px;
}


